:root {
    --clr-dark: #020617;
    --clr-light: #f1f5f9;
    --clr-slate200: #e2e8f0;
    --clr-slate300: #cbd5e1;
    --clr-slate400: #94a3b8;
    --clr-slate800: #475569;
    --clr-slate600: #1e293b;
    --clr-orange: #fab672;
    --clr-amber: #fbbf24;
    --clr-back: #958982;
    --clr-gray300: #d1d5db;
    --clr-sky600: #0284c7;
    /* rgb(251, 191, 36) - amber 
       rgb(253, 186, 116) - orange? tho sita reiktu pakeist manau
    */
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.85rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}
* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

.dark-mode{
    --clr-light: #07080c; 
    --clr-dark: #f1f5f9;
    --clr-slate200: #e2e8f0;
    --clr-slate300: #cbd5e1;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-gray300: #060c11;


}

body{
    font-family: 'Cabinet Grotesk', sans-serif;
    background-color: var(--clr-gray300);
    color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
    display:block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-orange);
    text-decoration: none;
}

strong {
    color: var(--clr-sky600);
}

/* Scrolu Baru */

body::-webkit-scrollbar {
    width: 4px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #d95d00;
    outline: 1px solid #d95d00;
  }